apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  hosts.override: |
    hosts {
        {{- range . }}
        {{ . }}
        {{- end }}
        fallthrough
    }