.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 3rem;
}

.md-header-nav__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header {
    height: 3rem;
}

.md-header-nav {
    align-items: center;
}

.md-ellipsis {
    display: inline;
}

.md-header-nav__topic {
    position: relative;
}

/* This is equal to light mode */
[data-md-color-primary=black] .md-tabs {

    /* Set color of the tab bar */
    background-color: #0DCEFF;
}

/* Dark Mode */
[data-md-color-scheme="slate"] .md-header {
    /* keep black backgroud of title bar (header) */
    background-color: black;
}

/* Tab Bar */
.md-tabs {
    color: black;
}

.md-tabs__item {
    font-weight: bolder;
}

.md-tabs__link--active {
    text-decoration: underline;
}
