.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    width: 3rem;
    height: 3rem;
}

.md-header-nav__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header {
    height: 3rem;
}

.md-header-nav {
    align-items: center;
}

.md-ellipsis {
    display: inline;
}

[data-md-color-primary=black] .md-tabs {
    background-color: #0DCEFF;
}

.md-tabs {
    color: black;
}