image: rancher/k3d-tools:{{#if build.tag}}{{build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  - image: rancher/k3d-tools:{{#if build.tag}}{{build.tag}}-{{/if}}linux-amd64
    platform:
      architecture: amd64
      os: linux
  - image: rancher/k3d-tools:{{#if build.tag}}{{build.tag}}-{{/if}}linux-arm64
    platform:
      variant: v8
      architecture: arm64
      os: linux
  - image: rancher/k3d-tools:{{#if build.tag}}{{build.tag}}-{{/if}}linux-arm
    platform:
      variant: v7
      architecture: arm
      os: linux
  - image: rancher/k3d-tools:{{#if build.tag}}{{build.tag}}-{{/if}}linux-arm
    platform:
      variant: v6
      architecture: arm
      os: linux
