mkdocs==1.2.3
mkdocs-material==7.3.6
pymdown-extensions==9.1
mkdocs-git-revision-date-localized-plugin==0.10.3
mkdocs-awesome-pages-plugin==2.6.1 # https://github.com/lukasgeiter/mkdocs-awesome-pages-plugin/releases
mdx_truly_sane_lists==1.2 # https://github.com/radude/mdx_truly_sane_lists
mkdocs-include-markdown-plugin==3.2.3 # https://github.com/mondeja/mkdocs-include-markdown-plugin
mike==1.1.2 # versioned docs: https://github.com/jimporter/mike
mkdocs-redirects==1.0.3
